body {
  font-family: var(--el-font-family);
  font-weight: 400;
  font-size: var(--el-font-size-base);
  color: var(--el-text-color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px 24px 24px;
  box-sizing: content-box;
}

.genFormBtn {
  display: inline-flex !important;
  justify-content: center;
}

svg {
  path {
    fill: currentColor;
    color: var(--color);
    --color: inherit;
  }
}

.form-drawer.open {
  min-width: 100%;
  max-width: 100%;

  @include tablet {
    min-width: 50%;
  }
  @include desktop {
    min-width: 500px;
  }
}
